.App {
  text-align: center;
}

.main_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100PX;
  flex-direction: column;
}
figcaption{
  margin-left: -45px;
}

.showItems {
  margin-top: 3rem;
  text-align: center;

}

.eachItem {
  background: #fff;
  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
  margin-left: .2rem;
  min-width: 40rem;
  word-break: break-word;
  background: rgb(159, 150, 185);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
}

.eachItem:hover {
  background: rgb(249, 249, 252);
  color: rgb(85, 41, 220);
}

.showItems .eachItem h3 {
  padding-left: 1rem;
  font-size: 1rem;
  color: #fff;
}

.todo-btn {
  width: 5rem;
  display: flex;
  justify-content: space-around;
}

.todo-btn i{
  font-size: 25px;
  cursor: pointer;
}